{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{url_for("static", filename="game.css")}}">
{% endblock %}

{% block title %}Game Page{% endblock %}


{% block outside_nav %}
    <h1>Rock Paper Scissors</h1>
    <p id="game_result">{{game_result}}</p>
    <form action="/play" method="post">
        <button id="start" type="submit" class="btn btn-primary">start</button>
    </form>
    <div class="result">
        <span class="result_text win">Win</span>
        <span class="result_number win_number">{{win}}</span>
        <br>
        <span class="result_text lose">Lose</span>
        <span class="result_number lose_number">{{lose}}</span>
        <br>
        <span class="result_text draw">Draw</span>
        <span class="result_number draw_number">{{draw}}</span>
    </div>
    <div class="player">
        <image id="player_image" src="{{url_for('static', filename=player_choice)}}"></image>
        <span class="player_text">Player</span>
    </div>
    <div class="bot">
        <image id="bot_image" src="{{url_for('static', filename=bot_choice)}}"></image>
        <span class="bot_text">Computer</span>
    </div>
{% endblock %}