{% extends 'base.html' %}

{% block css %}
    <link rel="stylesheet" href="{{url_for("static", filename="play.css")}}">
{% endblock %}

{% block javascript %}
    <script>
        window.addEventListener('load', function() {
                var count = 10;
                var counter = setInterval(timer, 1000);

                function timer() {
                    count = count - 1;
                    if (count <= 0) {
                        clearInterval(counter);
                        // Code to perform after the countdown ends
                        window.location.href = "{{url_for("game")}}"
                        return;
                    }
                    document.getElementById("timer").innerHTML = count
                }
            }
        );
    </script>
{% endblock %}

{% block title %}Play Page{% endblock %}

{% block content %}{% endblock %}

{% block outside_nav %}
    <div class="container">
        <h1>We're detecting your hand</h1>
    </div>
    <p id="time_left_text">Time left</p>
    <p id="timer">10</p>
    <div class="container">
        <img src="{{ url_for("video_feed") }}" width="50%">
    </div>
{% endblock %}
